* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: relative;
    background: whitesmoke;
}

nav .logo {
    height: 75px;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    padding: 0px 30px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

nav li a:hover {
    color: green;
    transition: .5s ease 0s
}

.home {
    min-height: 100vh;
    background: url(Pics/Table.png) no-repeat;
    background-size: cover;
    background-position: center;
}



.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 225, 225, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 225, 225, .2);
    border-radius: 10px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .btn {
    width: 100%;
    height: 45px;
    background: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 20px 0px 15px;
}
